<html>
    <head>
    <!--ist der nicht sichtbare teil der Webseite-->
        <title>
        <!--wird im Browser Tab angezeigt.-->
            N27 - Login
        </title>
    </head>
    <body>
    <!--ist der sichtbare Teil der Webseite-->
        <h1>
        <!--h1 ist eine Überschrift der Größe 1-->
            Bitte melden Sie sich hier an:
        </h1>
        <p>Benutzername:</p>
        <!--Ist ein Paragraph.-->
        <input type="text" id="benutzername" placeholder="s150..." name="benutzername">
        <!--ist ein Feld wo man den Benutzernamen eintippt-->
        <p>Passwort:</p>
        <input type="password" id="passwort" name="passwort">
        <!-- ist ein Feld wo man Passwort reinschreibt.-->
    </body>
</html>